[user]
	name = Leonid V. Fedorenchik
	email = leonid@fedorenchik.com
[core]
	editor = gvim --nofork
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.cvsignore
[merge]
	tool = vimdiff
	conflictStyle = diff3
	prompt = false
[color]
	ui = true
	status = auto
	branch = auto
[sendemail]
	from = Leonid V. Fedorenchik <leonidsbox@gmail.com>
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = leonidsbox@gmail.com
[diff "zcat"]
	textconv = zcat
[alias]
	a = add
	aa = add .
	b = branch --all
	ba = branch --all
	bd = branch --delete
	bD = branch --delete --force
	bl = branch
	br = branch --remote
	c = commit -v
	ca = commit --all -v
	cae = commit --all -v --amend
	ce = commit -v --amend
	children = "!f() { git rev-list --all --not $1^@ --children | grep $(git rev-parse $1); }; f" # reachable children of a ref
	d = diff
	dc = diff --cached
	dcs = diff --cached --stat
	ds = diff --stat
	e = checkout
	eb = checkout -b
	f = fetch --all --prune --tags --recurse-submodules=yes --jobs 4
	g = grep
	h = help
	i = init
	j = stash save --keep-index --include-untracked
	ja = stash apply
	jd = stash drop
	jl = stash list
	jp = stash pop
	js = stash show
	k = !gitk --all
	l = log
	lg = log --all --decorate --graph --oneline -20
	ll = log --all --decorate --graph --oneline
	lreview = log --pretty=format:'%Cred%h%Creset %Cgreen%aD%Creset %Cblue%an%Creset %s'
	m = merge --no-ff
	#n
	o = clone --recurse-submodules
	orphank = !gitk --all `git reflog | cut -c1-7`&
	orphanl = !git log --pretty=oneline --abbrev-commit --graph --decorate `git reflog | cut -c1-7`
	p = push
	#q
	rb = rebase
	rf = reflog
	ri = rebase -i
	rs = reset
	rt = remote
	s = status --short --branch --show-stash --untracked-files=all
	sv = status
	t = tag
	u = pull --ff-only --all
	#v
	w = worktree
	#x
	#y
	#z
[rerere]
	enabled = true
[diff]
	tool = gvimdiff
[format]
	signoff = true
[pretty]
	olp = %h%x09%an%x09%ad%x09%s
	ll = %C(auto)%h %Cgreen%an%Creset %s
[branch]
	autosetuprebase = always
[credential]
	helper = store
