[submodule ".vim/bundle/molokai"]
	path = .vim/pack/essential/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/undotree"]
	path = .vim/pack/essential/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/bundle/vim-dirdiff"]
	path = .vim/pack/essential/opt/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/pack/essential/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-signature"]
	path = .vim/pack/essential/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/evaluating/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/bundle/start/vim-unimpaired"]
	path = .vim/pack/essential/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/bundle/start/vim-cpp-enhanced-highlight"]
	path = .vim/pack/development/start/vim-cpp-enhanced-highlight
	url = https://github.com/fedorenchik/vim-cpp-enhanced-highlight.git
	branch = config-func-hl
[submodule ".vim/pack/bundle/start/vim-c-posix-syntax"]
	path = .vim/pack/development/start/vim-c-posix-syntax
	url = https://github.com/t6tn4k/vim-c-posix-syntax.git
[submodule ".vim/pack/bundle/start/vim-mark"]
	path = .vim/pack/essential/start/vim-mark
	url = https://github.com/inkarkat/vim-mark.git
[submodule ".vim/pack/bundle/start/vim-ingo-library"]
	path = .vim/pack/essential/start/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
[submodule ".vim/pack/bundle/start/VimCalc3"]
	path = .vim/pack/evaluating/start/VimCalc3
	url = https://github.com/fedorenchik/VimCalc3.git
[submodule ".vim/pack/bundle/start/FastFold"]
	path = .vim/pack/evaluating/start/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule ".vim/pack/bundle/start/vim-markdown-preview"]
	path = .vim/pack/evaluating/start/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview.git
[submodule ".vim/pack/bundle/opt/AnsiEsc"]
	path = .vim/pack/essential/opt/AnsiEsc
	url = https://github.com/fedorenchik/AnsiEsc.git
[submodule ".vim/pack/bundle/start/dbext.vim"]
	path = .vim/pack/essential/start/dbext.vim
	url = https://github.com/fedorenchik/dbext.vim.git
[submodule ".vim/pack/bundle/start/qt-support.vim"]
	path = .vim/pack/development/start/qt-support.vim
	url = https://github.com/fedorenchik/qt-support.vim.git
[submodule ".vim/pack/tags/start/vim-gutentags"]
	path = .vim/pack/development/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".vim/pack/git/start/vim-fugitive"]
	path = .vim/pack/essential/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/tags/start/tagbar"]
	path = .vim/pack/development/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/unite/start/unite.vim"]
	path = .vim/pack/unite/start/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/pack/unite/start/unite-gtags"]
	path = .vim/pack/unite/start/unite-gtags
	url = https://github.com/hewes/unite-gtags.git
[submodule ".vim/pack/unite/start/unite-quickfix"]
	path = .vim/pack/unite/start/unite-quickfix
	url = https://github.com/osyo-manga/unite-quickfix.git
[submodule ".vim/pack/unite/start/unite-outline"]
	path = .vim/pack/unite/start/unite-outline
	url = https://github.com/Shougo/unite-outline.git
[submodule ".vim/pack/unite/start/neoyank.vim"]
	path = .vim/pack/unite/start/neoyank.vim
	url = https://github.com/Shougo/neoyank.vim.git
[submodule ".vim/pack/unite/start/vim-unite-history"]
	path = .vim/pack/unite/start/vim-unite-history
	url = https://github.com/thinca/vim-unite-history.git
[submodule ".vim/pack/unite/start/unite-mark"]
	path = .vim/pack/unite/start/unite-mark
	url = https://github.com/tacroe/unite-mark.git
[submodule ".vim/pack/unite/start/vim-unite-giti"]
	path = .vim/pack/unite/start/vim-unite-giti
	url = https://github.com/kmnk/vim-unite-giti.git
[submodule ".vim/pack/evaluating/start/vim-capslock"]
	path = .vim/pack/essential/start/vim-capslock
	url = https://github.com/tpope/vim-capslock.git
[submodule ".vim/pack/evaluating/start/vim-commentary"]
	path = .vim/pack/essential/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/evaluating/start/vim-dadbod"]
	path = .vim/pack/evaluating/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule ".vim/pack/evaluating/start/vim-eunuch"]
	path = .vim/pack/essential/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/pack/evaluating/start/libview.vim"]
	path = .vim/pack/evaluating/start/libview.vim
	url = https://github.com/fedorenchik/libview.vim.git
[submodule ".vim/pack/evaluating/start/vinarise.vim"]
	path = .vim/pack/evaluating/start/vinarise.vim
	url = https://github.com/Shougo/vinarise.vim.git
[submodule ".vim/pack/evaluating/start/vim-dispatch"]
	path = .vim/pack/evaluating/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/pack/evaluating/start/vim-test"]
	path = .vim/pack/evaluating/start/vim-test
	url = https://github.com/janko/vim-test.git
[submodule ".vim/pack/development/start/gutentags_plus"]
	path = .vim/pack/development/start/gutentags_plus
	url = https://github.com/skywind3000/gutentags_plus.git
[submodule ".vim/pack/evaluating/opt/vimwiki"]
	path = .vim/pack/evaluating/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/pack/lsp/start/vim-lsp"]
	path = .vim/pack/lsp/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule ".vim/pack/lsp/start/async.vim"]
	path = .vim/pack/lsp/start/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule ".vim/pack/lsp/start/asyncomplete.vim"]
	path = .vim/pack/lsp/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule ".vim/pack/lsp/start/asyncomplete-lsp.vim"]
	path = .vim/pack/lsp/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule ".vim/pack/tex/start/vimtex"]
	path = .vim/pack/tex/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/pack/evaluating/start/ack.vim"]
	path = .vim/pack/evaluating/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/go/start/vim-go"]
	path = .vim/pack/go/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/web/start/typescript-vim"]
	path = .vim/pack/web/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/essential/start/nerdtree"]
	path = .vim/pack/essential/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/evaluating/start/vim-nerdtree-syntax-highlight"]
	path = .vim/pack/evaluating/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule ".vim/pack/text/start/vim-grammarous"]
	path = .vim/pack/text/start/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous.git
