[submodule ".vim/bundle/molokai"]
	path = .vim/pack/essential/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/undotree"]
	path = .vim/pack/essential/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/bundle/vim-dirdiff"]
	path = .vim/pack/essential/opt/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/pack/essential/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-signature"]
	path = .vim/pack/evaluating/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/evaluating/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/bundle/start/vim-unimpaired"]
	path = .vim/pack/essential/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/bundle/start/denite.nvim"]
	path = .vim/pack/essential/start/denite.nvim
	url = https://github.com/Shougo/denite.nvim.git
[submodule ".vim/pack/bundle/start/vim-cpp-enhanced-highlight"]
	path = .vim/pack/development/start/vim-cpp-enhanced-highlight
	url = https://github.com/fedorenchik/vim-cpp-enhanced-highlight.git
	branch = config-func-hl
[submodule ".vim/pack/bundle/start/vim-c-posix-syntax"]
	path = .vim/pack/development/opt/vim-c-posix-syntax
	url = https://github.com/t6tn4k/vim-c-posix-syntax.git
[submodule ".vim/pack/bundle/start/vim-mark"]
	path = .vim/pack/essential/start/vim-mark
	url = https://github.com/inkarkat/vim-mark.git
[submodule ".vim/pack/bundle/start/vim-ingo-library"]
	path = .vim/pack/essential/start/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
[submodule ".vim/pack/bundle/start/VimCalc3"]
	path = .vim/pack/evaluating/start/VimCalc3
	url = https://github.com/fedorenchik/VimCalc3.git
[submodule ".vim/pack/bundle/start/FastFold"]
	path = .vim/pack/evaluating/start/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule ".vim/pack/bundle/start/vim-markdown-preview"]
	path = .vim/pack/evaluating/start/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview.git
[submodule ".vim/pack/bundle/opt/AnsiEsc"]
	path = .vim/pack/essential/opt/AnsiEsc
	url = https://github.com/fedorenchik/AnsiEsc.git
[submodule ".vim/pack/bundle/start/dbext.vim"]
	path = .vim/pack/essential/start/dbext.vim
	url = https://github.com/fedorenchik/dbext.vim.git
[submodule ".vim/pack/bundle/start/qt-support.vim"]
	path = .vim/pack/development/start/qt-support.vim
	url = https://github.com/fedorenchik/qt-support.vim.git
[submodule ".vim/pack/bundle/opt/gina.vim"]
	path = .vim/pack/git/start/gina.vim
	url = https://github.com/lambdalisue/gina.vim.git
[submodule ".vim/pack/lsp/start/LanguageClient-neovim"]
	path = .vim/pack/lsp/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
	branch = next
[submodule ".vim/pack/lsp/start/deoplete.nvim"]
	path = .vim/pack/lsp/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule ".vim/pack/lsp/start/nvim-yarp"]
	path = .vim/pack/lsp/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule ".vim/pack/lsp/start/vim-hug-neovim-rpc"]
	path = .vim/pack/lsp/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule ".vim/pack/lsp/start/echodoc.vim"]
	path = .vim/pack/lsp/start/echodoc.vim
	url = https://github.com/Shougo/echodoc.vim.git
[submodule ".vim/pack/lsp/start/neoinclude.vim"]
	path = .vim/pack/lsp/start/neoinclude.vim
	url = https://github.com/Shougo/neoinclude.vim.git
[submodule ".vim/pack/lsp/start/context_filetype.vim"]
	path = .vim/pack/lsp/start/context_filetype.vim
	url = https://github.com/Shougo/context_filetype.vim.git
[submodule ".vim/pack/lsp/start/neopairs.vim"]
	path = .vim/pack/lsp/start/neopairs.vim
	url = https://github.com/Shougo/neopairs.vim.git
