[submodule ".vim/bundle/molokai"]
	path = .vim/pack/essential/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/undotree"]
	path = .vim/pack/essential/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/bundle/vim-dirdiff"]
	path = .vim/pack/essential/opt/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/pack/essential/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-signature"]
	path = .vim/pack/evaluating/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/evaluating/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/bundle/start/vim-unimpaired"]
	path = .vim/pack/essential/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/bundle/start/vim-cpp-enhanced-highlight"]
	path = .vim/pack/development/start/vim-cpp-enhanced-highlight
	url = https://github.com/fedorenchik/vim-cpp-enhanced-highlight.git
	branch = config-func-hl
[submodule ".vim/pack/bundle/start/vim-c-posix-syntax"]
	path = .vim/pack/development/opt/vim-c-posix-syntax
	url = https://github.com/t6tn4k/vim-c-posix-syntax.git
[submodule ".vim/pack/bundle/start/vim-mark"]
	path = .vim/pack/essential/start/vim-mark
	url = https://github.com/inkarkat/vim-mark.git
[submodule ".vim/pack/bundle/start/vim-ingo-library"]
	path = .vim/pack/essential/start/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
[submodule ".vim/pack/bundle/start/VimCalc3"]
	path = .vim/pack/evaluating/start/VimCalc3
	url = https://github.com/fedorenchik/VimCalc3.git
[submodule ".vim/pack/bundle/start/FastFold"]
	path = .vim/pack/evaluating/start/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule ".vim/pack/bundle/start/vim-markdown-preview"]
	path = .vim/pack/evaluating/start/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview.git
[submodule ".vim/pack/bundle/opt/AnsiEsc"]
	path = .vim/pack/essential/opt/AnsiEsc
	url = https://github.com/fedorenchik/AnsiEsc.git
[submodule ".vim/pack/bundle/start/dbext.vim"]
	path = .vim/pack/essential/start/dbext.vim
	url = https://github.com/fedorenchik/dbext.vim.git
[submodule ".vim/pack/bundle/start/qt-support.vim"]
	path = .vim/pack/development/start/qt-support.vim
	url = https://github.com/fedorenchik/qt-support.vim.git
[submodule ".vim/pack/bundle/opt/gina.vim"]
	path = .vim/pack/git/start/gina.vim
	url = https://github.com/lambdalisue/gina.vim.git
[submodule ".vim/pack/tags/start/vim-gutentags"]
	path = .vim/pack/tags/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
