#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=/home/leonid/.local/bin/gvim -f %f
Path=/home/leonid
Name=GVim
GenericName=Text Editor
Icon=gvim
Terminal=false
Categories=Development;IDE;Utility;TextEditor;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
